ion-icon{
    zoom: 3.00;
    position: relative;
    
}
.a{
    position: relative;
    right: 0px;
    float: right;
}
.background{
    color: aquamarine;
}
// .column {
//     float: left;
   
//     padding: 10px;
    
// }
// .row:after {
//     content: "";
//     display: table;
//     clear: both;
//   }
