<ion-header>
  <ion-toolbar>
    <ion-title>add Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="floating" >Product Name :</ion-label>
        <ion-input [(ngModel)]="item.name" placeholder="item name"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating" >Product Price :</ion-label>
        <ion-input [(ngModel)]="item.price" placeholder="item price"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating" >Product Type :</ion-label>
        <ion-input [(ngModel)]="item.type" placeholder="item type"></ion-input>
    </ion-item>

  
  
  
  <ion-button (click)="submit()" >Add to Cart</ion-button>
  
</ion-content>
