<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon name="refresh"></ion-icon>
    <ion-item>
        <ion-label position="floating" >Profile Photo</ion-label>
        <ion-input  placeholder="Enter Phone Number" [(ngModel)]="url"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating" >User Name</ion-label>
        <ion-input  placeholder="Enter User Name" [(ngModel)]="userName"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating" >Phone Number</ion-label>
        <ion-input  placeholder="Enter Phone Number" [(ngModel)]="phone"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating" >Email</ion-label>
        <ion-input  placeholder="Enter Email address" [(ngModel)]="mail"></ion-input>
    </ion-item>


    <ion-button (click)="update22()">Update</ion-button>
</ion-content>
